# .gitlab-ci.yml

variables:
  GIT_DEPTH: "1"
  GIT_STRATEGY: fetch

image: golang:latest
pull_policy : always

before_script:
  - date
  - pwd
  - ls -lah
  - whoami
  - id

stages:
  - placeholder
  - main

.placeholder:
  stage: placeholder
  variables:
    GIT_STRATEGY: none
  script: echo # CI breaks when none of the job meet condition to be executed

push plasmactl artifacts:
  stage: main
  when: manual #TODO: Remove
  variables:
    DEBIAN_FRONTEND: 'noninteractive'
  before_script:
    - apt-get update -y && apt-get install -y openssl make curl git golang-go
    - go version
  script:
    - export PLASMACTL_ARTIFACT_REPOSITORY_USER_PW_TMP="$(echo "${PLASMACTL_ARTIFACT_REPOSITORY_USER_PW_BASE64}" | base64 -d)"
    - export TARGET_VERSION="$(echo "${VERSION}")"
    - |
      echo
      echo "##############################################################################################"
      echo "- Listing variables..."
      echo "VERSION (TARGET_VERSION) = ${VERSION}"
      echo "##############################################################################################"
    - make binaries PLASMACTL_ARTIFACT_REPOSITORY_USER_PW="${PLASMACTL_ARTIFACT_REPOSITORY_USER_PW_TMP}" TARGET_VERSION="${TARGET_VERSION}"

push get-plasmactl script:
  stage: main
  variables:
    DEBIAN_FRONTEND: 'noninteractive'
  before_script:
    - apt-get update -y && apt-get install -y openssl make curl
  script:
    - PLASMACTL_ARTIFACT_REPOSITORY_USER_PW_TMP="$(echo "${PLASMACTL_ARTIFACT_REPOSITORY_USER_PW_BASE64}" | base64 -d)"
    - make getplasmactl PLASMACTL_ARTIFACT_REPOSITORY_USER_PW="${PLASMACTL_ARTIFACT_REPOSITORY_USER_PW_TMP}"
  only:
    changes:
      - get-plasmactl.sh

