# .gitlab-ci.yml

variables:
  GIT_DEPTH: "1"
  GIT_STRATEGY: fetch

image: golang:1.22.2-bookworm

before_script:
  - env
  - date
  - pwd
  - ls -lah
  - whoami
  - id
  - cat /etc/os-release
  - cat /etc/resolv.conf
  - ls -lah /var/run/docker.sock || true # plasmactl dependency

stages:
  - placeholder
  - main

placeholder:
  stage: placeholder
  variables:
    GIT_STRATEGY: none
  script: echo # CI breaks when none of the job meet condition to be executed

push get-plasmactl script:
  stage: main
  variables:
    DEBIAN_FRONTEND: 'noninteractive'
  before_script:
    - apt-get update -y && apt-get install -y openssl make curl
  script:
    - PLASMACTL_ARTIFACT_REPOSITORY_USER_PW_TMP="$(echo "${PLASMACTL_ARTIFACT_REPOSITORY_USER_PW_BASE64}" | base64 -d)"
    - make getplasmactl PLASMACTL_ARTIFACT_REPOSITORY_USER_PW="${PLASMACTL_ARTIFACT_REPOSITORY_USER_PW_TMP}"
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_PIPELINE_SOURCE != 'schedule'
      changes:
        - get-plasmactl.sh

push plasmactl artifacts:
  stage: main
  tags:
    - edge
  variables:
    DEBIAN_FRONTEND: 'noninteractive'
  before_script:
    - apt-get update -y && apt-get install -y openssl make curl git golang-go
    - go version
  script:
    - export PLASMACTL_ARTIFACT_REPOSITORY_USER_PW_TMP="$(echo "${PLASMACTL_ARTIFACT_REPOSITORY_USER_PW_BASE64}" | base64 -d)"
    - export TARGET_VERSION="$(echo "${VERSION}")"
    - |
      echo
      echo "##############################################################################################"
      echo "- Listing variables..."
      echo "VERSION (TARGET_VERSION) = ${VERSION}"
      echo "##############################################################################################"
    - sleep infinity
    - make binaries PLASMACTL_ARTIFACT_REPOSITORY_USER_PW="${PLASMACTL_ARTIFACT_REPOSITORY_USER_PW_TMP}" TARGET_VERSION="${TARGET_VERSION}"
    - |
      echo
      echo "##############################################################################################"
      echo "- Successful build:"
      echo "VERSION (TARGET_VERSION) = ${VERSION}"
      echo "##############################################################################################"
      echo " /!\ Don't forget to upgrade plasmactl on Pro-4-S sd-92483"
      echo "##############################################################################################"
  artifacts:
    name: "${CI_COMMIT_REF_NAME}:${CI_COMMIT_SHA}:plasmactl-bin:build"
    expose_as: 'Build logs'
    when: always
    expire_in: 2 weeks
    paths:
      - build.log
  rules:
    - if: $CI_PIPELINE_SOURCE == 'web' || $CI_PIPELINE_SOURCE == 'schedule'
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' && $VERSION

