[Ll]aunchr_[Dd]arwin_*
[Ll]aunchr_[Ll]inux_*
[Ll]aunchr_[Ww]indows_*
[Pp]lasmactl_[Dd]arwin_*
[Pp]lasmactl_[Ll]inux_*
[Pp]lasmactl_[Ww]indows_*
build_*
build.log
plugin*
stable_release
.plasmactl/
!plugins.mk
