# .gitlab-ci.yml

variables:
  GIT_DEPTH: "1"
  GIT_STRATEGY: fetch

image: golang:latest

before_script:
  - date
  - pwd
  - ls -lah
  - whoami
  - id

stages:
  - placeholder
  - main

.placeholder:
  stage: placeholder
  variables:
    GIT_STRATEGY: none
  script: echo # CI breaks when none of the job meet condition to be executed

push:
  stage: main
  before_script:
    - DEBIAN_FRONTEND='noninteractive' apt-get update -y && DEBIAN_FRONTEND='noninteractive' apt-get install -y openssl make curl git golang-go
  script:
    - PLASMACTL_ARTIFACT_REPOSITORY_USER_PW_TMP="$(echo "${PLASMACTL_ARTIFACT_REPOSITORY_USER_PW_BASE64}" | base64 -d)"
    - make all PLASMACTL_ARTIFACT_REPOSITORY_USER_PW='${PLASMACTL_ARTIFACT_REPOSITORY_USER_PW_TMP}'

