# .gitlab-ci.yml

variables:
  GIT_DEPTH: "1"
  GIT_STRATEGY: fetch

image: alpine:latest

before_script:
  - date
  - pwd
  - ls -lah
  - whoami
  - id

stages:
  - placeholder
  - main

.placeholder:
  stage: placeholder
  variables:
    GIT_STRATEGY: none
  script: echo # CI breaks when none of the job meet condition to be executed

push:
  stage: main
  before_script:
    - apk add openssl make curl
  variables:
    PLASMACTL_ARTIFACT_REPOSITORY_USER_PW: $(echo "${PLASMACTL_ARTIFACT_REPOSITORY_USER_PW_BASE64}" | base64 -d)
  script:
    - echo ${PLASMACTL_ARTIFACT_REPOSITORY_USER_PW_TMP}
    - make all PLASMACTL_ARTIFACT_REPOSITORY_USER_PW='${PLASMACTL_ARTIFACT_REPOSITORY_USER_PW_TMP}'

