launchr_Darwin_arm64
launchr_Darwin_x86_64
launchr_Linux_arm64
launchr_Linux_x86_64
launchr_Windows_arm64.exe
launchr_Windows_x86_64.exe
plasmactl_darwin_amd64
plasmactl_darwin_arm64
plasmactl_linux_amd64
plasmactl_linux_arm64
plasmactl_windows_amd64.exe
plasmactl_windows_arm64.exe
build_*
